* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}

html {
    background-color: rgb(39, 39, 39) !important;
}

.is-primary {
    background-color: #06ca7f !important;
    width: auto !important;
}

.is-primary:hover {
    background-color: #03bd76 !important;
}

.is-danger {
    width: auto !important!;
}

i {
    color: white;
}

.center-text {
    text-align: center;
}

.flex-1 {
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: rgb(53, 53, 53) !important;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, 0.5),0 0 0 1px rgba(10, 10, 10, 0.4) !important;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}

.card-item {
    display: flex;
    justify-content: center;
    width: 50%;
}

.field {
    padding-top: 2px;
}

.joke-hr {
    margin-left: 10%;
    margin-right: 10%;
}

.title-text {
    font-weight:bolder;
    margin-top: 15px;
    font-size: 3em;
    text-shadow: 2px 2px #8d8d8d;
}

.strapline-text {
    font-weight: normal;
    font-size: 2em;
}

.joke {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
} 

.joke-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80vw;
    padding: 10px;   
}

.joke-text {
    width:100%;
    font-size: 1.5rem;
    text-align: center;
}

.joke-buttons-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80vw;
    padding: 10px;   
    padding-top: 0px;
    padding-bottom: 0px;
}

.punchline-container {
    flex: 1;
    padding-top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.new-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.joke-button {
    background-color:#48c78e;
    color:white;
    padding:10px;
    border: 0px none;
    border-radius: 10px;
    margin:10px;
    min-width: 55px;
    width:50%;
}

.joke-button:hover {
    background-color: #36ac77;
}

.joke-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
} 

.jokes-container {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 80vw;
    padding: 10px;
}

.list-header {
    width: 100%;
    margin-top: 10px;
}

.list-title {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.list-title h1 {
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px #8d8d8d;
}

.list-title p {
    font-weight: normal;
    font-size: 0.8em;
}

.add-button {
    margin-right:5px;
}

.joke-input {
    border-radius: 10px;
    height: 41px;
    padding: 5px;
}

.no-joke-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.295);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.joke-row {
    display: flex;
    margin: 5px;
}

.joke-row p {
    display: flex;
    align-self: center;
    flex:1;
}

.joke-told {
    text-decoration: line-through;
    color: #00d1b2;
}

.instagram {
    text-align: center;
    font-size: 1.5em;
    margin-top:10px;
}

a {
    color: #03bd76  !important;
}
a:hover {
    color:#018f59  !important;
  }

  .donate {
    text-align: center;
    margin-top: 15px;
  }

  .donate p {
      margin-bottom:15px;
      padding:10px;
  }

#donate-image{
      width:200px;
  }

.list-card {
    margin-bottom: 50px;

}


